//==============================================================================
// BASE STYLES            The universal selector (*), ul elements and p elements
//==============================================================================

// Set box sizing to include border and margin when calculating dimensions
* {
	box-sizing: border-box;
}

// Remove bullets from unordered lists
ul {
	list-style-type: none;
	padding-left: 0;
}

p {
	color: $black;
	font-family: $font-family--primary;
	font-size: $base__font-size;
	font-weight: $font-weight--light;
	line-height: em(24px);
}
