//==============================================================================
// MEDIA QUERIES                                     Call/use mixins by @include
//==============================================================================
@mixin mediaquery($breakpoint){
  @if $breakpoint == "small"{
    @media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium){
      @content;
    }
  }
  @else if $breakpoint == "medium"{
    @media (min-width: $breakpoint-medium + 1){
      @content;
    }
  }
  @else if $breakpoint == "large"{
    @media (min-width: $breakpoint-large){
      @content;
    }
  }
  @else {
    @error "Whoops! No value could be retrieved for '#{$breakpoint}'.";
  }
}

//==============================================================================
// FLEXBOX SETTINGS
//==============================================================================
@mixin flex-container($justify-content) {
  display: flex;
	flex-direction: column;
  justify-content: $justify-content;
  @include mediaquery(medium) {
    flex-direction: row;
  }
}

//==============================================================================
// ELEMENT AND MODIFIER BEM SELECTORS
//==============================================================================
@mixin element($element){
  &__#{$element}{
    @content;
  }
}

@mixin modifier($modifier){
  &--#{$modifier}{
    @content;
  }
}
