//==============================================================================
// HEADER
//==============================================================================
%header {
  background-color: $color-primary;
  color: $white;
  height: 75px;
}


//==============================================================================
// LINKS
//==============================================================================
// %link {
//   text-decoration: none;
//   font-weight: $font-weight--regular;
//   color: $color-secondary;
//   &:hover{
//     text-decoration: underline;
//   }
// }

//==============================================================================
// IMAGES
//==============================================================================
%img {
  display: inline-block;
  align-self: center;
}

//==============================================================================
// ICONS
//==============================================================================
%icon {
  display: inline-block;
  align-self: center;
}

//==============================================================================
// HEADLINES
//==============================================================================
%headline-primary {
  display: block;
  font-size: 1.5em;
  color: $black;
  font-weight: $font-weight--regular;
}

%headline-secondary {
  display: block;
  font-size: .9em;
  color: $black;
  font-weight: $font-weight--regular;
  text-transform: uppercase;
}

%logo {
  display: inline-block;
  align-self: center;
  margin: 0;
  font-weight: $font-weight--light;
}

//==============================================================================
// NAVIGATION ITEMS
//==============================================================================
%nav {
  background-color: $color-secondary;
  width: 80px;
  height: 100%;
  padding-top: 2em;
  margin: 0;
}

%nav-item {
  justify-content: center;
  margin: 0 auto 2em;
}

%nav-item-link {
  display: block;
  text-decoration: none;
  color: $black;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: em(15px);
  border-radius: $border--rounded-corners;
  font-weight: 300;
  font-size: em(17px);
  transition-duration: .12s;
}

%nav-item-on {
  color: $white;
  background-color: $color-primary;
}

//==============================================================================
// BUTTONS
//==============================================================================
%button {
  border-radius: $border--rounded-corners;
  border: none;
	text-transform: uppercase;
  color: $white;
}
