//==============================================================================
// ICONS
//==============================================================================
.icon {
  @include modifier(notification){
    @extend %icon;
    width: 25px;
    height: 25px;
  }

  @include modifier(navigation){
    @extend %icon;
    width: 32px;
    height: 32px;
    fill: $color-secondary-light;
  }
}
